@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
body {
  font-family: 'IndieFlower', sans-serif;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
  line-height: 1.58;
  letter-spacing: -.003em;
  font-size: 20px;
  padding: 70px;
}