{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

    <h3>Lista de contactos</h3>
    <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">Nombre contacto</th>
            <th scope="col">Empresa</th>
            <th scope="col">NIF</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
        {% for empresa in object_list %}
          <tr>
            <th scope="row"><a>{{ empresa.denominacion }}</a></th>
            <td>{{ empresa.n_comercial }}</td>
            <td>{{ empresa.nif }}</td>
            <td>{{ empresa.tfno }}</td>
            <td>        

            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      <a class="btn btn-primary btn-sm" href="{% url 'contactos:nueva_empresa' %}">Nueva empresa</a>

{% endblock %}